/* -----414----- */
* {
    box-sizing: border-box;
}

@media screen and (max-width:414px) {

    /* -----------------menu----------------- */
    .top {
        position: relative;
        z-index: 5;
        width: auto;
        /* background-color: pink; */
        justify-content: space-between;
    }
    .edu_all{
        position:relative;
        z-index: 2;
    }

    .top i {
        display: flex;

    }

    .top a {
        margin-bottom: 0;
    }

    .top ul {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: rgb(253, 198, 103);
        top: 62px;
        right: 0;
        width: 30%;
        padding-left: 10px;
        margin: 0;
    }

    .top li {
        background-color: rgb(253, 198, 103);
        border-bottom: 1px solid #ffffff;
        text-align: center;
        margin: 0;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 2em;
    }

    .top ul li a {
        background-color: rgb(253, 198, 103);
        color: white;
        font-size: 16px;

    }

    .left {
        width: 100px;
        margin-top: 5px;
        margin-left: 5px;
    }

    .fa {
        margin-right: 20px;
        margin-top: 25px;
        font-size: 20px;
        color: #0073B4;

    }

    /* -----------------footer----------------- */

    .bot {
        display: none;
    }

    .footer p {
        font-size: 14px;
    }

    /* ------標題1------ */
    .tit1 {
        width: 144.2px;
        height: 82.6px;
        background-size: cover;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .tit1 h1, .tit2 h1{
        font-size: 1.5em;
        margin-top: 0;
    }

    .tit1 h2, .tit2 h1{
        font-size: 0.5em;
    }


    /* ------按鈕------ */

    .more,
    .more2 {
        font-size: 12px;
        margin: 20px auto 0;
        padding: 10px 15px;
        text-decoration: none;
        border-radius: 10px;
        box-shadow: none;
    }

    /*--------------------------- 以上全域--------------------------*/




    /* -----------------form1(領養狗狗)----------------- */

    .form_box {
        width: 100%;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .form_left {
        height: 80%;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        padding-top: 10px;
        border-radius: 0;
    }

    .form_left h3 {
        font-size: 1em;
        padding-left: 55px;
    }

    .form_left p {
        font-size: 10px;
        padding-left: 65px;
        margin-bottom: 10px;
    }

    .form_right {
        height: 100%;
        width: 100%;
        margin: 25px auto 0;
        padding: 0;
        padding-top: 45px;
        margin-bottom: 30px;
        border-radius: 0;
    }

    .form {
        padding: 15px 70px;
        border-radius: 0;
    }

    .form_left img {
        margin-top: 30px;
    }


    /* -----------------form2(加入志工)----------------- */

    .form_box2 {
        flex-direction: column;
    }

    .form_p2 {
        margin-right: 20px;
    }

    .form_right {
        background-color: rgba(255, 186, 69);
    }


    /* -----------------about----------------- */

    .slo_img {
        width: 100%;
        height: 150px;
        background-position: center;
    }

    .slo_img h2 {
        font-size: 20px;
        padding: 65px 0;
    }

    .slo_txt h1 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        padding: 0 30px;
    }

    .slo_txt p {
        font-size: 10px;
        margin: 0;
        padding: 0 50px;
        line-height: 1.6;
        text-align: left;
    }


    /* -----------------contact----------------- */

    .slo_img img {
        width: 100%;
        height: 150px;
        background-position: center;
    }

    .contact_all_txt {
        flex-direction: column;
    }

    .cont_1,
    .cont_2 {
        margin: 0;
        margin-top: 15px;
        margin-bottom: 25px;
        padding: 0 50px;
    }

    .cont_3 {
        margin-bottom: 25px;
        margin-top: 15px;
    }

    .cont_1 p,
    .cont_2 p,
    .cont_3 p {
        margin: 0;
        font-size: 10px;
    }

    .cont_1 h2,
    .cont_2 h2,
    .cont_3 h2 {
        margin-bottom: 10px;
        font-size: 16px;
    }

    .cont_3 {
        padding-right: 0;
    }

    .cn_icon ul {
        align-content: center;
        flex-wrap: wrap;
        margin-top: 20px;
    }

    .icon a p {
        font-size: 10px;
    }

    .icon a img {
        width: 60px;
    }

    .icon {
        margin: 20px 50px;
    }


    /* -----------------success----------------- */


    .success {
        width: auto;
        height: 470px;
        margin-top: 140px;
    }

    .success img {
        width: 100px;
        height: 100px;
        margin: 30px auto;

    }

    .success p {
        width: auto;
        font-size: 20px;
    }


    /* -----------------edu----------------- */

    .edu_01,
    .edu_02 {
        width: 50%;
        margin: 20px auto;
    }

    .top_line {
        padding: 1px 200px;
    }

    .edu-1 p {
        padding: 0 50px;
        margin: 25px auto;
        font-size: 10px;
    }


    /* -----------------edu----------------- */

    .edu_box {
        width: 291.2px;
        height: 163.6px;
        margin-bottom: 0;
    }

    .tube iframe {
        width: 291.2px;
        height: 163.6px;
    }

    .next,
    .prev {
        display: none;
    }

    .dot {
        border-radius: 5px;
    }

    .edu_line1 {
        margin: 25px 0;
    }

    .title_all,
    .title_all2 {
        display: flex;
        flex-direction: column;
    }

    .edu_title {
        margin-bottom: 0;
    }

    .edu_title1 h3,
    .edu_title2 h3 {
        margin-bottom: 0px;
    }

    .edu_title1 p1,
    .edu_title2 p1 {
        position: relative;
        right: -125px;
        top: -45px;
        margin-left: 0;
        width: auto;
        font-size: 30px;
    }

    .edu_title1 p2,
    .edu_title2 p2 {
        width: auto;
        height: auto;
        margin-left: 0;
        font-size: 10px;
        padding: 10px;
    }

    .edu_img_box {
        float: none;
    }

    .edu_tia {
        margin-top: 15px;
    }

    .edu_img {
        width: 300px;
        float: none;
        margin: 0 auto;
    }

    .title_all2 p3,
    .title_all p3 {
        font-size: 10px;
        height: 35px;
        top: -105px;
        right: 35px;
    }


    /* -----------------item_info----------------- */

    .item_top {
        flex-direction: column;
    }

    .itop_left img {
        width: 100%;
        margin: 0 auto;
    }


    .right_top {
        padding: 0;
    }

    .right_top h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .right_top h3 {
        font-size: 18px;
    }

    .Revise {
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 8px;
    }

    .rb_1 {
        padding: 15px 0;
    }

    .rb_1 h3,
    .rb_1 h4 {
        font-size: 20px;
    }

    .g-container,
    .rb_3 {
        width: 300px;
    }

    .item_bot h3 {
        font-size: 20px;
        margin-top: 15px;
    }

    .item_bot h4 {
        font-size: 10px;
        margin-top: 20px;
    }

    .item_bot img {
        width: 90%;
        margin: 10px auto 0;
    }


    /* -----------------item_info----------------- */

    .vol_all p{
        font-size: 10px;
        padding: 0 25px;
    }
    .vol_all h2{
        font-size: 20px;
        margin: 20px 0;
    }

    .vol_box{
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .p1,
    .p2,
    .p3 {
        margin: 15px 55px 10px 60px;
    }
    .p1 h2,
    .p2 h2,
    .p3 h2 {
      font-size: 20px;
      margin-bottom: 10px;
    } 
    .p1 p,
    .p2 p,
    .p3 p {
        font-size: 10px;
    }


    /* -----------------stay----------------- */

    .stray_dog{
        flex-direction: row;
    }
    .dog_box{
        width: 180px;
    }
    .dog_1 a img, .dog_2 a img{
        width: 150px;
    }
    .dog_box li p{
        padding: 0;
        top: -58px;
        left: 0;
        font-size: 10px;
        padding: 10px 0;
    }
    .dog_2 img, .dog_1 img{
        box-shadow:none ;
    }
    .dog_1{
        margin-left: 15px;
    }
    .dog_2{
        margin: 0px;
        margin-left: 15px;
    }
    .dog_box li a img{
        border-radius: 0;
        border: 5px solid #EBEFF1;
    }


    /* -----------------stay----------------- */

    .spo_top{
        flex-wrap: wrap;
        margin: 20px auto;
    }

    .spo_top a{
        width: 120px;
    }
  
    .spo_item1,
    .spo_item2,
    .spo_item3,
    .spo_item4,
    .spo_item5 {
        width: 80px;
        height: 120px;
        margin-left: 20px;
    }
    
    .spo_item1 img,
    .spo_item2 img,
    .spo_item3 img,
    .spo_item4 img,
    .spo_item5 img {
        width: 80px;
        display: block;
        margin: 0 auto;
    }
    .spo_item1 p,
    .spo_item2 p,
    .spo_item3 p,
    .spo_item4 p,
    .spo_item5 p {
        font-size: 10px;
    }

    .spo_choose h3{
        margin: 20px 50px;
        font-size: 18px;
    }

    .spo_line img{
        width: 380px;
        height: 10px;
    }

    .spbox_1{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .spbox_2{
       margin-right: 205px;
    }

    .it1,
    .it2,
    .it3,
    .it4,
    .it5 {
        margin: 30px 10px;
    }

    .it1 img,
    .it2 img,
    .it3 img,
    .it4 img,
    .it5 img {
        width: 150px;
    }
    
    .it1 .g-container,
    .it2 .g-container,
    .it3 .g-container,
    .it4 .g-container,
    .it5 .g-container {
        width: 150px;
        height: 10px;
        border-radius: 5px;
        margin: 5px auto;
    }
    
    .it1 .rb_3,
    .it2 .rb_3,
    .it3 .rb_3,
    .it4 .rb_3,
    .it5 .rb_3 {
        margin-top: 10px;
        width: 150px;
        height: 3px;
        border-radius: 5px;
    }
    
    .it1 p,
    .it2 p,
    .it3 p,
    .it4 p,
    .it5 p{
        font-size: 10px;
    }
    .it1 > p,
    .it2 > p,
    .it3 > p,
    .it4 > p,
    .it5 > p{
        width: 150px;
    }

    .it_p1{
        margin-right: 80px;
    }


    /* -----------------dog1----------------- */
    .d1_top_left,.dgt_right{
        width: 50%;
    }
    .dog_top {
        display: flex;
        justify-content: space-around;
        margin: 10px auto 50px;
    }
    #slider{
        width: 180px;
        height: 180px;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    #indicator{
        width: 180px;
        margin: 0;
    }
   
    #slider img{
    width: 180px;
    }

    .sma_img{
        width: 180px;
        margin: 0 10px;
        margin-left: 10px;
       
    }
    #indicator li{
        width: 30px;
        height: 30px;
        margin: 0;
        margin-left: 5px;
    
    }
    .dgt_txt h2 {
        font-size: 10px;
        line-height: 1.2;
        margin: 0;
        margin-right: 20px;
        margin-top: 10px;
    }

    .a1,
    .a2 {
        margin-left: 10px;
      
        padding: 5px 15px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 10px;
    }
    .dgt_btn {
       margin: 0;
       margin-top: 5px;
    }

    .dog_bot h2{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .dog_bot table{
        width: 400px;
        font-size: 10px;
        margin-bottom: 20px;
    }

    .dog_bot p{
        margin: 0;
        padding: 0 20px;
        font-size: 10px;
    }


    /* -----------------center----------------- */
    
    .cen_top{
        width: auto;
        height: auto;
        display: flex;
        margin: 0;
        margin-top: 50px;
        padding-bottom: 50px;
    }

    .centl img{
        width: 150px;
        margin: 20px ;
    }

    .centl{
        width: 100%;
    }

    .cent_txt{
        width: auto;
        height: auto;
        margin: 0;
    }

    .cent_txt p{
        margin:20px;
        margin-bottom: 0;
        padding: 20px;
        padding-bottom: 10px;
        line-height: 1;
        font-size: 10px;
    }

    .Revise{
        margin: 0 ;
        margin-left: 70px;
        width: 100px;
        height: 20px;
        font-size: 10px;
        padding: 7px 10px;
        border-radius: 5px;
    }

    .tab_css{
        margin-top: 50px;
        width: 370px;
        justify-content: start;
    }

    .tab_css label{
        padding: 7px 10px;
        font-size: 10px;
        border-bottom: 1px solid #ffffff;
    }
    .tab_content{
        height: auto;
        border-radius:  0;
    }

    .tab_content img{
        width: 350px;
    }

    /* -----------------index----------------- */
  
    .slideshow-container{
        width: 414px;
        height: auto;
    }

    .ach_li1,
    .ach_li2{
        width: 90px;
        height: 90px;
        margin: 5px;
        padding: 0px;
        padding-top: 25px;
        font-size: 10px;
        background-size: cover;
        background-position: center;
    }

    .str{
        width: 414px;
        margin: 20px auto;
        padding: 50px 0;
    }

    .tit2{
        width: 134.6px;
        height: 82.59px;
        margin: 0 auto;
        margin-bottom: 20px;
        background-position: center;
        background-size: cover;
    }

    .str li{
        width: 95px;
        height: auto;
        margin: 0 15px 20px;
    }

    .dog div img{
        width: 100px;
    }

    .dog p{
        display: none;
    }

    .dog h3{
        font-size: 20px;
    }

    .edu_left,
    .edu_right {
        width: 414px;
        padding: 0 20px;
    }   

    .in_edu img{
        width: 300px;
        height: 200px;
        margin: 0 35px;
    }

    .date {
        border: 5px solid #0073B4;
        font-size: 15px;
        padding: 2px 15px;
        left: 10px;
        top: -10px;
    }

    .line1 {
        left: 305px;
        top: 0px;
        padding: 3px 25px;
    }
    
    .line2 {
        left: 350px;
        top: -45px;
        padding: 25px 3px;
    }

    .edu_bot{
        margin-bottom: 40px;
    }
    .edu p{
        font-size: 10px;
        padding: 10px 20px;
    }
    .read{
        font-size: 10px;
    }

    .con{display: none;}


    .contact{
        width: 414px;
        height: auto;
        background-position: center;
        background-size: cover;
        margin-top: 0;
        padding-top: 40px;
        flex-direction: column;
    }

    .contact ul{
        flex-wrap: wrap;
    }

    .icon{
        margin: 15px;
    }


}































/* -----375 ----- */


/* -----------------menu----------------- */

@media screen and (max-width:376px) {

    .top ul li a {
        font-size: 14px;
    }

    .tit1 {
        max-width: 90%;
        height: auto;
        margin-bottom: 20px;
        clear: both;
    }

    .top ul {
        padding-left: 8px;
    }

    .tit1 {
        padding: 17px 10px;
        background-size: cover;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tit1 h2 {
        margin-bottom: 0;
    }

    /* -----------------form----------------- */

    .form_left {
        margin-top: 235px;
    }

    .form_box2,
    .form_box {
        margin-bottom: 275px;
    }

    .form_left h3 {
        padding-left: 25px;
    }

    .form_left p {
        padding-left: 35px;
    }

    /* -----------------footer----------------- */

    .form_btn {
        margin: 0 75px;
    }



    /* -----------------contact----------------- */

    .cont_1,
    .cont_2 {
        padding: 0 65px;
    }


    /* -----------------success----------------- */

    .success {
        height: 340px;
        margin-top: 50px;
    }



    /* -----------------edu----------------- */
    .top_line {
        padding: 1px 150px;
    }

    .title_all2 p3,
    .title_all p3 {
        right: 20px;
    }



    /* -----------------item_info----------------- */

    .g-container,
    .rb_3 {
        width: 255px;
    }


    /* -----------------volunteer----------------- */

    .vol_box{
        padding: 5px;
    }
    
    .p1,
    .p2,
    .p3 {
        margin: 15px 45px 10px 50px;
    }


    /* -----------------sponsored----------------- */

    .spo_line img{
        width: 320px;
        height: 6px;
    }
    
    .spbox_2{
        margin-right: 190px;
     }


    .spo_choose h3{
        font-size: 16px;
    }


    /* -----------------dog1----------------- */

    .dgt_txt h2{
        margin-left: 10px;
        margin-right: 10px;
    }

    .dog_bot table{
        width: 350px;
        font-size: 10px;
        margin-bottom: 20px;
    }
    th{
        padding: 8px;
    }
    .a1, .a2{
        margin-left: 7px;
    }


    /* -----------------center----------------- */

    .cent_txt p{
        margin:0;
        margin-top: 20px;
        margin-right: 15px;
        padding: 10px;
    }

    .Revise{
        margin-left: 50px;
       
    }

    .tab_css{
        margin-top: 0px;
        width: 350px;
    }


    .tab_content img{
        width: 320px;
    }

    /* -----------------index----------------- */
  
    .slideshow-container{
        width: 375px;
    }

    .ach_li1,
    .ach_li2{
        height: 84px;
    }

    .str{
        width: 375px;
    }

    .str li{
        margin: 0 10px 20px;
    }

    .edu_left,
    .edu_right {
        width: 375px;
        padding: 0 20px;
    }   

    .in_edu img{
        width: 275px;
        height: 175px;
        margin: 0 25px ;
    }

    .date {
        border: 5px solid #0073B4;
        font-size: 15px;
        padding: 2px 15px;
        left: 10px;
        top: -10px;
    }

    .line1 {
        left: 270px;
        top: 0px;
        padding: 3px 25px;
    }
    
    .line2 {
        left: 315px;
        top: -45px;
        padding: 25px 3px;
    }

    .edu_bot{
        margin-bottom: 40px;
    }
    .edu p{
        font-size: 10px;
        padding: 10px 20px;
    }
    .read{
        font-size: 10px;
    }

    .con{display: none;}


    .contact{
        width: 375px;
        height: auto;
        background-position: center;
        background-size: cover;
        margin-top: 0;
        padding-top: 40px;
        flex-direction: column;
    }

    .contact ul{
        flex-wrap: wrap;
    }

    .icon{
        margin: 15px;
    }








}